<h1>This shows details of single event</h1>
<div><%= link_to "Home", root_path %></div>
<h2><%=@created_event.title%></h2>
<h4><%=@created_event.date.strftime("%d-%m-%Y")%></h4>
<h4><%=@created_event.time.strftime("%I:%M %p")%></h4>

<div>
    <><>
</div>